<Ads formatVersion="3" target="Avito.ru">
<% dictionary = Hash[
	' Acura ',' Акура ',
	' Alfa Romeo ',' Альфа Ромео ',
	' Audi ',' Ауди ',
	' Bentley ',' Бентли ',
	' BMW ',' БМВ ',
	' Caddilac ',' Кадилак ',
	' Chevrolet ',' Шевроле ',
	' Chrysler ',' Крайслер ',
	' Citroen ',' Ситроен ',
	' Daewoo ',' Дэу ',
	' Dodge ',' Додж ',
	' Fiat ',' Фиат ',
	' Ford ',' Форд ',
	' Geely ',' Джили ',
	' Great Wall ',' Грейт Волл ',
	' Honda ',' Хонда ',
	' Hyundai ',' Хендай ',
	' Infiniti ',' Инфинити ',
	' Jaguar ',' Ягуар ',
	' Jeep ',' Джип ',
	' Kia ',' Киа ',
	' Land Rover ',' Лэнд Ровер ',
	' Lexus ',' Лексус ',
	' Lifan ',' Лифан ',
	' Maserati ',' Мазерати ',
	' Mazda ',' Мазда',
	' Mercedes ',' Мерседес ',
	' Mini ',' Мини',
	' Mitsubishi ',' Мицубиси ',
	' Nissan ',' Ниссан ',
	' Opel ',' Опель ',
	' Peugeot ',' Пежо ',
	' Porshe ',' Порше ',
	' Renault ',' Рено ',
	' Rover ',' Ровер ',
	' Saab ',' Сааб ',
	' Seat ',' Сеат ',
	' Skoda ',' Шкода ',
	' Smart ',' Смарт ',
	' Ssang Yong ',' Ссанг Янг',
	' Subaru ',' Субару ',
	' Suzuki ',' Сузуки ',
	' Toyota ',' Тойота ',
	' Volvo ',' Вольво ',
	' Volkswagen ',' Фольксваген ',
	' Accent ',' Акцент ',
	' Accord ',' Аккорд ',
	' Actyon ',' Актион ',
	' Actyon-sport ',' Актион-спорт ',
	' Alhambra ',' Альхамбра ',
	' Almera ',' Альмера ',
	' Alphard ',' Альпхард ',
	' Amarok ',' Амарок ',
	' Antara ',' Антара ',
	' Arnage ',' Арнадж ',
	' Aspen ',' Аспен ',
	' Astra ',' Астра ',
	' ASX ',' АСХ',
	' Auris ',' Аурис ',
	' Avensis ',' Авенсис ',
	' Aveo ',' Авео ',
	' Aygo ',' Айго ',
	' Beetle ',' Битл ',
	' Berlingo ',' Берлинго ',
	' Bora ',' Бора ',
	' Boxer ',' Боксер ',
	' Boxster ',' Бокстер ',
	' Bravo ',' Браво ',
	' Breez ',' Бриз ',
	' Brooklands ',' Брукландс ',
	' Class ',' Класс ',
	' Crosser ',' Кроссер ',
	' Max ',' Макс ',
	' Picasso ',' Пикассо ',
	' Cabrio ',' Кабрио ',
	' Caddy ',' Кэдди ',
	' Camaro ',' Камаро ',
	' Camry ',' Камри ',
	' Captiva ',' Каптива ',
	' Caravan ',' Караван ',
	' Caravelle ',' Каравелле ',
	' Carens ',' Каренс ',
	' Carisma ',' Каризма ',
	' Carnival ',' Карнивал ',
	' Cayene ',' Кайен ',
	' Cayman ',' Кайман ',
	' Cee`d ',' Сид ',
	' Celica ',' Селика ',
	' Cerato ',' Серато ',
	' Cherokee ',' Чероки ',
	' Civic ',' Цивик ',
	' Clio ',' Клио ',
	' Clubman ',' Клабмен ',
	' Cobalt ',' Кобальт ',
	' Colt ',' Кольт ',
	' Combo ',' Комбо ',
	' Concorde ',' Конкорд ',
	' Continental ',' Континентал ',
	' Coolbear ',' Кулбир',
	' Cooper ',' Купер ',
	' Corolla ',' Королла ',
	' Corsa ',' Корса ',
	' Coupe ',' Купе ',
	' Cowry ',' Коври ',
	' CR-V	',' ЦРВ ',
	' Crafter ',' Крафтер ',
	' Creta ',' Крета ',
	' Cruze ',' Круз ',
	' CT ',' СТ ',
	' CTS ',' СТС ',
	' CX ',' СХ ',
	' Deer ',' Дир ',
	' Discovery ',' Дискавери ',
	' Doblo ',' Добло ',
	' DS',' ДС',
	' Ducato ',' Дукато ',
	' Durango ',' Дуранго ',
	' Duster ',' Дастер ',
	' Eclipse ',' Эклипс ',
	' Ecosport ',' Экоспорт ',
	' Edge ',' Эдж ',
	' Elantra ',' Элантра ',
	' Emgrand  ',' Эмгранд ',
	' Epica ',' Эпика ',
	' Equinox ',' Эквинокс ',
	' Equus ',' Эквис ',
	' ES ',' ЕС ',
	' Escalade ',' Эскалейд ',
	' Escape ',' Эскейп ',
	' Espero ',' Эсперо ',
	' EX ',' ЕХ ',
	' Expedition ',' Экспедишн ',
	' Expert ',' Эксперт ',
	' Explorer ',' Эксплорер ',
	' Fabia ',' Фабия ',
	' Fabia Combi ',' Фабия Комби',
	' Fiesta ',' Фиеста ',
	' Florid ',' Флорид ',
	' Fluence ',' Флюенс',
	' Flying Spur ',' Флаинг Спур ',
	' Focus ',' Фокус ',
	' Forester ',' Форестер ',
	' Fortuner ',' Фортунер ',
	' Fortwo ',' Форту ',
	' Freelander ',' Фриландер ',
	' Freemont ',' Фримонт ',
	' Frontera ',' Фронтера ',
	' Fusion ',' Фьюжн ',
	' FX ',' ФХ ',
	' Galant ',' Галант ',
	' Galaxy ',' Галакси ',
	' Genesis ',' Генезис ',
	' Getz ',' Гетц ',
	' Ghibli ',' Гибли ',
	' Golf ',' Гольф ',
	' Golf Plus ',' Гольф Плюс ',
	' Grand Cherokee ',' Гранд Чероки ',
	' Grand Vitara ',' Гранд Витара ',
	' Grandeur ',' Грандеур ',
	' GS ',' ГС ',
	' GT ',' ГТ ',
	' Hatch ',' Хэтч ',
	' Hiace ',' Хайэйс',
	' Highlander ',' Хайлендер ',
	' Hilux ',' Хайлюкс ',
	' Hover ',' Ховер ',
	' HR-V ',' ХРВ',
	' Impala ',' Импала ',
	' Impreza ',' Импреза ',
	' Insignia ',' Инсигния ',
	' IX ',' ИХ ',
	' Jazz ',' Джазз ',
	' Jetta ',' Джетта ',
	' Jimny ',' Джимни ',
	' Jorney ',' Джорней ',
	' Juke ',' Жук ',
	' Kangoo ',' Кангу ',
	' Kaptur ',' Каптур ',
	' Koleos ',' Колеос ',
	' Kuga ',' Куга ',
	' Kyron ',' Кайрон ',
	' Lacetti ',' Лачетти ',
	' Laguna ',' Лагуна ',
	' Lancer ',' Лансер ',
	' Land Cruiser ',' Лэнд Круйзер',
	' Prado ',' Прадо ',
	' Lanos ',' Ланос ',
	' Latitude ',' Латтитуд',
	' Legacy ',' Легаси ',
	' Liana ',' Лиана ',
	' Liberty ',' Либерти ',
	' Logan ',' Логан ',
	' Magentis ',' Магентис ',
	' Malibu ',' Малибу ',
	' Mark  ',' Марк ',
	' Matiz ',' Матиз ',
	' Matrix ',' Матрикс ',
	' Maverick ',' Майверик ',
	' Maxima ',' Максима ',
	' MDX ',' МДХ ',
	' Megane ',' Меган ',
	' Meriva ',' Мерива ',
	' Micra ',' Микра ',
	' Mohave ',' Мохаве ',
	' Mokka ',' Мокка ',
	' Mondeo ',' Мондео ',
	' Montero ',' Монтеро ',
	' Mulsanne ',' Мульсан ',
	' Multivan ',' Мультивен ',
	' Murano ',' Мурано ',
	' Mustang ',' Мустанг ',
	' Navara ',' Навара ',
	' Nexia ',' Нексия ',
	' Niva ',' Нива ',
	' Note ',' Ноут ',
	' Octavia ',' Октавия ',
	' Tour ',' Тур ',
	' Opirus ',' Опирус ',
	' Optima ',' Оптима ',
	' Orlando ',' Орландо ',
	' Outback ',' Аутбек ',
	' Outlander ',' Аутлендер ',
	' Pacifica ',' Пасифика ',
	' Pajero ',' Паджеро ',
	' Sport ',' Спорт ',
	' Panda ',' Панда ',
	' Partner ',' Партнер ',
	' Passat ',' Пассат ',
	' Pathfinder ',' Патсфайндер ',
	' Patrol ',' Патрол ',
	' Picanto ',' Пиканто ',
	' Pilot ',' Пилот ',
	' Polo ',' Поло ',
	' Porter ',' Портер ',
	' Primera ',' Примера ',
	' Prius ',' Приус ',
	' Cruiser ',' Круизер ',
	' Punto ',' Пунто ',
	' Qashqai ',' Кашкай ',
	' Quattroporte ',' Кватропорте ',
	' Quoris ',' Куорис ',
	' Ram ',' Рам ',
	' Ranger ',' Рэнжер ',
	' Rapid ',' Рапид ',
	' RAV  ',' РАВ ',
	' RDX ',' РДХ ',
	' Rexton ',' Рекстон ',
	' Rio ',' Рио ',
	' Roadster ',' Родстер ',
	' Roomster ',' Румстер ',
	' RS',' РС',
	' RX ',' РХ ',
	' Sandero ',' Сандеро ',
	' Santa Fe ',' Санта Фе ',
	' Scenic ',' Сценик ',
	' Scirocco ',' Сирокко ',
	' Sebring ',' Себринг ',
	' Sharan ',' Шаран ',
	' Smily ',' Смайли ',
	' Solano ',' Солано ',
	' Solaris ',' Солярис ',
	' Sonata ',' Соната',
	' Sorento ',' Соренто ',
	' Soul ',' Соул ',
	' Spark ',' Спарк ',
	' Spectra ',' Спектра ',
	' Sportage ',' Спортэйдж ',
	' Sprinter ',' Спринтер ',
	' SRX ',' СРХ ',
	' Starex ',' Старекс ',
	' STS ',' СТС ',
	' Superb ',' Суперб ',
	' Swift ',' Свифт ',
	' Symbol ',' Символ ',
	' Tahoe ',' Тахо ',
	' Teana ',' Теана ',
	' Terracan ',' Терракан ',
	' Tigra ',' Тигра ',
	' Tiguan ',' Тигуан ',
	' Tiida ',' Тильда ',
	' Touareg ',' Туарег ',
	' Touran ',' Тоуран ',
	' Town & Country ',' Таун Кантри ',
	' Trafic ',' Трафик ',
	' TrailBlazer ',' ТрейлБлэйзер ',
	' Transit ',' Транзит ',
	' Custom ',' Кастом ',
	' Transporter ',' Транспортер ',
	' Tribeca ',' Трайбека ',
	' TT ',' ТТ ',
	' Tucson ','Таксон ',
	' Vectra ',' Вектра ',
	' Veloster ',' Велостер ',
	' Venga ',' Венга ',
	' Venza ',' Венза ',
	' Verso ',' Версо ',
	' Viano ',' Виано ',
	' Vios ',' Виос ',
	' Vito ',' Вито ',
	' Vivaro ',' Виваро ',
	' Wingle ',' Вингл ',
	' X-Trail ',' Икс-Трейл',
	' Xsara Picasso	',' Ксара Пикассо',
	' Yaris ',' Ярис ',
	' Yeti ',' Йети ',
	' Zafira ',' Зафира ',
	' ZDX ',' ЗДХ '] %>
		<% bad_keys = [71, 72, 73, 74, 75, 76, 146, 467, 504, 654]%>
			<% @marks.each do |mark| %>
				<% ind = 0 %>
				<% mark.models.each do |model| %>
					<% model.key_models.each do |key_model| %>
						<% if (!bad_keys.include? key_model.id) && key_model.is_available %>
									<% for i in 0..model.keys.size-1 %>
										<% key = model.keys[i] %>
											<% if key.total_price > 0 && key.id == key_model.key_id  %>
							<% ind += 1%>
							<% if ind>27; ind=1; end %>
							<%# для равномерной выгрузки ключей разных марок обнуляется ind%>
							<% x = ind/5 %>
								<Ad>
									<Id><%= key_model.id %></Id>
									<DateBegin><%= @a+(x*0.04166667*3+ind) %></DateBegin>
									<%# задается дата опубликования обьявлений  @a в keys_controller. диапазон - месяц %>
									<%# <!-- inde= <%= ind %>
									<%#<!-- add= <%=  (x*0.04166667*3+ind) %>
									<AllowEmail>Нет</AllowEmail>
									<ContactPhone>+7 (499) 112-06-95</ContactPhone>
									<Region>Москва</Region>
									<Category>Запчасти и аксессуары</Category>
									<TypeId>11-632</TypeId>
									<Title><%= key_model.name%></Title>
<% tmp = key_model.description.gsub(/<\/?[^>]*>/,'').gsub(/[&,nbsp]/,'').gsub('Оригинальный ','').gsub('Оригинальная вставка','').strip.chomp %>
									<Description><![CDATA[
									<% temp = key_model.name %>
									<% dictionary.each do |key, value| %>
										<% if temp.include? key %>
											<% temp = temp.gsub(key, value) %>
										<% end %>
									<% end %>
									<%=  temp %>
									<% if !tmp.empty? %>
										<%= UnicodeUtils.upcase(tmp.chr) %><%= tmp[1, tmp.size-1] %>. Модель ключа: <%= key.name %>.	
									<% else %>
										Модель ключа: <%= key.name %>.	
									<% end %>
									<br>
									Изготовление ключей за 45 минут.<br>
									Выезд специалиста.<br>
									Гарантия на все виды работ.<br> 
									Программирование и заточка ключей любой сложности.<br>
									<b>Все ключи в наличии</b> - не требуется предварительного заказа и ожидания ключа.<br>
									Компания AutoKeyShop уже более 8 лет занимается продажей и изготовлением автомобильных ключей. 
									Подробная информация на сайте AutoKeyShop (наберите название магазина в поисковой системе Яндекс или Google)]]></Description>
									<Images>
										<Image url="http://autokeyshop.ru<%= key.img %>"/> 
									</Images>
									<Price><%= key.first_price %></Price>
								</Ad>
												<% break %>
											<%end%>
									<%end%>
						<%end%>
					<% end %>
				<% end %>
			<% end %>
</Ads>